.cart_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 15rem;
    padding: 1rem 0.5rem;
}

.cart_actions_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 0.2rem var(--orange);
    outline: transparent;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 10px;
    fill: var(--orange);
}

.cart_actions_button use {
    fill: inherit;
}
 
.cart_actions_button:hover {
    background-color: var(--orange);
    fill: var(--white);
}

.cart_actions_text {
    font-weight: 700;
    background-color: var(--light-grayish-blue);
    padding: 0.6rem 25%;
    border-radius: 10px;
}