.cart_actions {
    display: flex;
    justify-content: space-between;
}

.cart_actions_amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
    padding: 1rem 0.5rem;
}

.cart_actions_amount_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;
}

.cart_actions_amount_button:hover {
    opacity: 0.5;
}

.cart_actions_amount_text {
    font-weight: 700;
}

.cart_actions_add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
    width: 60%;
    padding: 1rem 0.5rem;
    background-color: transparent;
    color: var(--black);
    font-weight: 700;
    border: none;
    outline: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.cart_actions_add::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
    z-index: -1;
}

.cart_actions_add:hover::before,
.cart_actions_add:focus::before {
    opacity: 0.5;
}

.cart_actions_add .icon-cart path {
    fill: black;
}