.gallery {
    position: relative;
    width: 100%;
}

.gallery_img {
    width: 100%;
    display: block;
    pointer-events: none;
}

.gallery_button {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    border: none;
    outline: transparent;
    border-radius: 100%;
    transform: translateY(-50%);
}

.gallery_button-left {
    left: 0.5rem;
}

.gallery_button-right {
    right: 0.5rem;
}

.gallery_button-left .icon-previous {
    transform: translateX(-10%);
}

.gallery_button-right .icon-next {
    transform: translateX(10%);
}

.gallery_button-active {
    border: solid 0.1rem var(--orange);
    filter: opacity(0.5);
}

@media screen and (min-width: 700px) {
    .gallery {
        padding: 3rem;
        width: 50%;
    }

    .gallery_img {
        border-radius: 20px;
        pointer-events: all;
    }

    .gallery_button {
        display: none;
    }
}