:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: rgb(104, 112, 125);
    --grayish-blue: rgb(182, 188, 200);
    --light-grayish-blue: rgb(247, 248, 253);
    --white: hsl(0, 0%, 100%);
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

main {
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 700px) {
    main {
        margin: 0 auto;
        flex-direction: row;
    }
};