.lightbox {
    display: none;
}

@media screen and (min-width: 700px) {
    .lightbox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.75);
    }
    
    .lightbox_top {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .lightbox_image {
        width: 30rem;
    }
    
    .lightbox_button {
        background-color: transparent;
        border: none;
        outline: transparent;
        cursor: pointer;
    }
    
    .lightbox_button-navigation {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 100%;
        stroke: var(--black);
    }
    
    .lightbox_button-navigation .icon-next {
        transform: translateX(0.1rem);
    }
    
    .lightbox_button-navigation .icon-previous {
        transform: translateX(-0.1rem);
    }
    
    .lightbox_button-right {
        transform: translateX(50%);
    }
    
    .lightbox_button-left {
        transform: translateX(-50%);
    }
    
    .lightbox_button-navigation .icon-next path,
    .lightbox_button-navigation .icon-previous path {
        stroke: inherit;
    }
    
    .lightbox_button-navigation:hover,
    .lightbox_button-navigation:focus {
        stroke: var(--orange);
    }
    
    .lightbox_button-close {
        position: absolute;
        top: -2.5rem;
        right: 3.5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
    
    .lightbox_button-close::after {
        content: '';
        position: absolute;
        top: 0;
        right: 45%;
        display: block;
        width: 0.3rem;
        height: 100%;
        border-radius: 10px;
        background-color: var(--white);
        transform: rotate(45deg);
    }
    
    .lightbox_button-close::before {
        content: '';
        position: absolute;
        top: 0;
        left: 40%;
        display: block;
        width: 0.3rem;
        height: 100%;
        border-radius: 10px;
        background-color: var(--white);
        transform: rotate(-45deg);
    }
    
    .lightbox_button-close:hover::before,
    .lightbox_button-close:hover::after,
    .lightbox_button-close:focus::before,
    .lightbox_button-close:focus::after {
        background-color: var(--orange);
    }
}